<% provide(:title, "About")%>
    <h1>Sample App</h1>
    <p>
     This is the home page for the 
     <a href="http://railstutorial.org/"> Ruby on Rails Tutorial</a>
     sample application.
    </p>